* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-bottom: 10px;
}

.container {
    width: 912px;
    height: 912px;
    outline-offset: 2px;
    outline: 1px dashed blue;
    display: flex;
    flex-wrap: wrap;
}